<h2><%= l(:label_issue_importer) %></h2>

<%= form_tag({:action => 'match'}, {:multipart => true}) do %>
    <%= hidden_field_tag 'project_id', @project.id %>

    <p><label><%= l(:label_upload_notice) %></label><br/>
      <%= file_field_tag 'file', :size => 60 %></p>

    <fieldset class="box">
      <legend><%= l(:label_upload_format) %></legend>
      <p><label><%= l(:label_upload_encoding) %></label>
        <%= select_tag "encoding", "<option value=\"ISO\">ISO</option><option value=\"U\">UTF8</option><option value=\"EUC\">EUC</option><option value=\"S\">SJIS</option><option value=\"N\">None</option>".html_safe %>
      </p>

      <p><label><%= l(:label_upload_splitter) %></label>
        <%= text_field_tag "splitter", ';', {:size => 3, :maxlength => 1} %></p>

      <p><label><%= l(:label_upload_wrapper) %></label>
        <%= text_field_tag "wrapper", '"', {:size => 3, :maxlength => 1} %></p>

      <p><label><%= l(:label_upload_date_format) %></label>
        <%= select_tag "date_format", "<option value=\"%Y-%m-%d\">yyyy-mm-dd (2013-10-25)</option>
                                <option value=\"%d-%m-%Y\">dd-mm-yyyy (25-10-2013)</option>
                                <option value=\"%m-%d-%Y\">mm-dd-yyyy (10-25-2013)</option>
                                <option value=\"%d/%m/%Y\">dd/mm/yyyy (25/10/2013)</option>
                                <option value=\"%m/%d/%Y\">mm/dd/yyyy (10/25/2013)</option>
                                <option value=\"\">???</option>".html_safe %>
    </fieldset>

    <%= submit_tag l(:button_upload) %>
<% end %>

